.header {
  background-color: aliceblue;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logo-container {
  flex-shrink: 0;
}

.logo {
  max-width: 150px;
}

.nav {
  flex-grow: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}
